RewriteEngine On
Options +FollowSymLinks
RewriteRule ^home index.php [NC,L]
RewriteRule ^contact contact.php [NC,L]
RewriteRule ^unsubscribe unsubscribe.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d [NC]
RewriteCond %{REQUEST_FILENAME} !-f [NC]
RewriteRule ^(.*)$ final.php?p=$1 [QSA,L]