* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Nunito Regular';
}

@font-face {
  font-family: 'Nunito Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Nunito Regular'), url('../css/Nunito-Regular.woff') format('woff');
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 50%;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #251d3a; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e38612; 
}


body {
  font-family: 'Nunito Regular', sans-serif;
  font-size: 16px;
  color: #2c2c2c;
  overflow-x: hidden;
}
body a {
  color: inherit;
  text-decoration: none;
}

.header__btn {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  padding: 10px 20px;
  display: inline-block;
  margin-right: 10px;
  background-color: #fff;
  border: 1px solid #2c2c2c;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}
.header__btn:last-child {
  margin-right: 0;
}
.header__btn:hover, .header__btn.js-active {
  color: #fff;
  background-color: #2c2c2c;
}

.header {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.header__title {
  margin-bottom: 30px;
  font-size: 2.1rem;
}

.content__title {
  margin-bottom: 40px;
  font-size: 20px;
  text-align: center;
}

.content__title--m-sm {
  margin-bottom: 10px;
}

.multisteps-form__progress {
  display: grid;
  background:rgba(37, 29, 58, 0.3);
  visibility: hidden;
  padding: 5% 10px;
  border-radius: 50px;
  padding-bottom: 4%;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.multisteps-form__progress-btn {
  transition-property: all;
  margin-top: 5%;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  position: relative;
  padding-top: 20px;
  padding-bottom: 0;
  color: #fff ;
  font-weight: bold;
  text-indent: -9999px;
  border: none;
  font-size: 13px;
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
}
@media (min-width: 500px) {
  .multisteps-form__progress-btn {
    text-indent: 0;
  }
}
.multisteps-form__progress-btn:before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 13px;
  height: 13px;
  content: '';
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  border: 2px solid currentColor;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 3;
  opacity: .9;
}
.multisteps-form__progress-btn:after {
  position: absolute;
  top: 5px;
  left: calc(-50% - 13px / 2);
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: block;
  width: 100%;
  height: 2px;
  content: '';
  background-color: currentColor;
  z-index: 1;
  opacity: .4;
}
.multisteps-form__progress-btn:first-child:after {
  display: none;
}
.multisteps-form__progress-btn.js-active {
  color: #e38612;
}
.multisteps-form__progress-btn.js-active:before {
  -webkit-transform: translateX(-50%) scale(1.2);
  transform: translateX(-50%) scale(1.2);
  background-color: currentColor;
}

.multisteps-form__form {
  position: relative;
}

.multisteps-form__panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.multisteps-form__panel.js-active {
  height: auto;
  opacity: 1;
  visibility: visible;
}
.multisteps-form__panel[data-animation="scaleOut"] {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.multisteps-form__panel[data-animation="scaleOut"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.multisteps-form__panel[data-animation="slideHorz"] {
  left: 50px;
}
.multisteps-form__panel[data-animation="slideHorz"].js-active {
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
  transition-delay: 0s;
  left: 0;
}
.multisteps-form__panel[data-animation="slideVert"] {
  top: 30px;
}
.multisteps-form__panel[data-animation="slideVert"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  top: 0;
}
.multisteps-form__panel[data-animation="fadeIn"].js-active {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.multisteps-form__panel[data-animation="scaleIn"] {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.multisteps-form__panel[data-animation="scaleIn"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: scale(1);
  transform: scale(1);
}



.index-body{
  /*height: 120vh;*/
  background: url('../img/testi_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
}
.result-body{
  background: url('../img/menu_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
  padding-bottom: 1px;
}

.index-body .content, .result-body .content{
  position: relative;
  z-index: 1;
}
.index-body .content .contact-icon{
  background:rgba(37, 29, 58, 0.8);
  margin-top: 2%;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,.9);
  padding: 10px 40px;
  color: #fff;
  width: 130px;
  text-align: center;
  border-radius: 20px;
  margin-right: 5%;
  transition: .5s;
  display: none;
}
.index-body .content .contact-icon p{
  padding-top: 22%;
  position: relative;
  z-index: 4;
}
.index-body .content .contact-icon p:hover a{
  color: #e38612;
  cursor: pointer;
}
.index-body .body-intro-text{
  color: #fff;
  text-align: center;
  margin-bottom: 5%;
}
.index-body::after, .result-body::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.6);
}
.result-body::after{
  background: rgba(0,0,0,.7);
}
.logo-area{
  text-align: center;
  padding-top: 2%;
}
.logo-area img{
  width: 100px;
  height: 100px;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,.9);
  border-radius: 50%;
}
.gender img{
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 5px;
  padding: 24px 30px;
  height: 130px;
  width: 130px;
  transition: .5s;
  cursor: pointer;
  text-align: center;
}
.gender img:hover{
  border: 1px solid #e38612;
}
.gender:hover .gender .gender-inner-border #gender-title{
  color: #e38612 !important;
  background-color: red;
}
.gender{
  display: inline-flex;
  padding-right: 0px;
}
.gender h5{
  color: #fff;
}
.body-intro-text h2{
  padding-top: 5%;
  font-size: 40px;
  margin-top: -10px;
}
.body-intro-text h5{
  font-size: 20px;
}
.body-intro-text h5 span{
  color: #e38612;
}
#or-span{
  display: none;
  font-size: 20px; 
  color: #fff;
  padding-right: 5%;
}
.icon-image img:first-child{
  position: fixed !important;
  top: 50%;
  left:-48%;
  z-index: 1;
}
.icon-image img:last-child{
  position: fixed;
  right: -40%;
  top: 20%;
  z-index: 1;
}

#veggies-section .col-md-3{
  color: #fff;
  margin: 0;
  padding: 3px 5%;
}
#veggies-section .col-md-3 img{
  display: none;
}
#veggies-section .col-md-3 h2{
  padding-bottom: 5%;
  padding-top: 15%;
  font-weight: bolder;
  font-size: 50px;
}
#veggies-section .col-md-3 h5{
  font-size: 20px;
}
.nopad{
  padding: 0;
  margin: 0;
}
.checkbox-row{
  padding: 0;
  margin: 0;
}
.image-checkbox {
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  border: 4px solid transparent;
  margin-bottom: 5%;
  margin-left: -50px;
  margin-right: -50px;
  outline: 0;
  border-radius: 10px;
  position: relative;
  padding: 0;
}
.image-checkbox span{
  padding: 2px 5px;
}
.image-checkbox img{
  border-radius: 5px;
  max-width: 130% !important;
}
.image-checkbox-checked{
  position: relative !important;
  width: 100%;
}
.image-checkbox input[type="checkbox"] {
  display: none !important;
}

.image-checkbox-checked::after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 130%;
  background: rgba(227, 134, 18, .4);
}
.image-checkbox small{
  /*color: #251d3a;*/
  transition: .5s;
  color: #fff;
  font-size: 16px;
  /*padding-left: 20%;*/
  padding-bottom: 10px;
  z-index: 5;

}
.image-checkbox span {
  position: absolute;
  background-color: #e38612;
  top: 5%;
  border-radius: 5px;
  display: none;
  z-index: 1;
  right: -25.5%;
}
.image-checkbox span .fa-check{
  color: #fff;
}
.image-checkbox-checked small{
  color: #251d3a;
  position: absolute;
  transition: .5s;
  left: 0;
  bottom: 0;
  font-weight: bold;
  font-size: 16px;
  padding-left: 20%;
  padding-bottom: 10px;
  z-index: 5;
}
.image-checkbox-checked span {
  display: block !important;
}
.continue-btn {
  padding: 1px 5px;
}
.continue-btn button{
  width: 100%;
  background-color: #e38612;
  text-align: center;
  color: #fff;
  margin-bottom: 7%;
}
.physicals-section{
  padding-top: 15%;
  color: #fff;
  text-align: center;
}
.physicals-section p{
  border:1px solid #fff;
  padding: 5px 1px;
  transition: .5s;
  border-radius: 50px;
  background: rgba(37, 29, 58,.4);
  cursor: pointer;
}
.physicals-section p:hover{
  background:rgba(227, 134, 18, .4);
}
.nav-pills{
  /*margin-left: 10%;*/
}
.nav-pills .nav-item{
  padding:10px 5px;
  width: 50%;
}
.nav-pills .nav-item .nav-link{
  background-color: transparent;
  color: #fff;
  padding: 10px 30px;
  border:1px solid #fff;
}
.nav-pills .nav-item .nav-link.active{
  background-color: #e38612;
}
#measurement-h2{
  font-size: 39px !important;
}
.measurement-form{
  margin-right: -50px;
  margin-left: -40px;
  background-color: transparent;
}
.tab-pane{
  background-color: transparent;
}
.tab-pane .form-group{
  padding: 10px 11%;
}
.tab-pane .form-group input{
  background-color: transparent;
  /*width: 50%;*/
  color: #fff;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color:#fff !important;
  outline: none !important;
  box-shadow: none !important;
}
.tab-pane .form-group.height{
  display: inline-flex;
  width: 100%;
}
.tab-pane .form-group.height input:first-child{
  margin-right: 10px;
}
.form-group input::placeholder{
  color: #fff;
}
.submit_button{
  margin-left: 25%;
  width: 50%;
}
.result-container .result-intro{
  margin-bottom: 5%;
}
.result-container .result-intro .col-md-7{
  margin-top: 5%; 
  color: #fff;
}
.result-container .result-intro .col-md-7 h1{
  font-size: 50px;
}
.result-summary{
  margin-bottom: 5%;
}
.result-summary .col-md-5 h1{
  padding-top: 5%;
  color: #fff;
}
.result-summary .col-md-7 .row .col-6 div{
  background-color: red;
  padding:30px 15px;
  padding-bottom: 5px;
  color: #fff;
  width: 100%;
  border-radius: 20px;
  background: rgba(37, 29, 58,.9);
  text-align: center;
  margin-bottom: 15px;
}
.result-summary .col-md-7 .row .col-6 div .stat-icon{
  position: absolute;
  top: 8%;
  left: 18%;
  color: #e38612;
}
.result-summary .col-md-7 .row .col-6 div h5{
  padding-top: 5px;
  font-size: 16px;
  color: #e38612;
}
.result-summary .col-md-6{
  color: #fff;
  margin-top: 5%;
  margin-bottom: 0;
  padding: 2px 5%;
}
.result-summary .col-md-6 .result-summary-content{
  background: rgba(37, 29, 58,.6);
  border-radius: 20px;
  padding: 20px 20px;
  text-align: center;
}
.apexcharts-legend{
  display: none !important;
}
.result-intro{
  padding-bottom: 5%;
}
.col-md-2 .btn-back{
  margin-top: 25%;
  transition: .5s;
  color: #fff;
  font-size: 20px;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,.8);
  border-radius: 50px;
  background: rgba(37, 29, 58,.6);
  padding: 14px 30px;
  border: 1px solid transparent;
}
.col-md-2 .btn-back:hover{
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}
.col-md-2 .btn-back .back-icon{
  /*margin-left: 20px;*/
  /*padding-left: 4px;*/
  margin-right: 20px;
}
#form-error-section{
  background-color: #d62649; 
  padding: 10px 5%;
  margin-left: 11%; 
  margin-right: 11%; 
  color: #fff;
  border-radius: 5px;
  /*display: none;*/
}
#form-error-section .fa-info-circle{
  margin-right: 10px;
}
.back-btn-section{
  text-align: center;
}
.what-you-get{
  margin-top: 8%;
  margin-bottom: 5%;
}
.what-you-get .row .col-md-5 h1{
  padding-top: 5%;
  font-size: 50px;
}
.what-you-get .row .col-md-7 ul{
  list-style: none;
}
.what-you-get .row .col-md-7 li{
  color: #fff;
  font-size: 20px;
}
.what-you-get .row .col-md-7 li p .fa-check{
  color: #e38612;
  font-size: 13px;
  font-weight: bold;
  margin-right: 10px;
}
.what-you-get .buy-button{
  padding: 10px 5%;
  transition: .5s;
  background: #e38612;
  margin-top: 20px;
}
.what-you-get .buy-button a{
  font-weight: bold;
  text-decoration: none !important;
  color: #212529;
}
.what-you-get .buy-button:hover{
  background: rgba(37, 29, 58,.9);
}
.what-you-get .buy-button:hover a{
  color: #fff;
}
.copyright{
  position: relative;
  z-index: 1;
  color: #fff;
  padding-bottom: 10px;
  margin-bottom: -1px;
}
.form-group p{
  position: relative;
  top: -29px;
}
.form-group small{
  color: #fff;
  position: absolute;
  right: 5%;
  top: -43%;
}
.rs-control{
  margin-top: 5%;
  margin-left: 2%;
}
#bmi-slider.rs-svg-mode .rs-path {
  stroke: linear-gradient(340deg, red,green);
}
#bmi-slider.rs-control .rs-handle {
  background-color: #e38612 !important;
  margin: -5px 0px 0px -3px !important;
  height: 14px !important;
  width: 14px !important;
  display: block !important;
}
#bmi-slider.rs-control .rs-bg-color {
  background-color: transparent;
}
.rs-control .rs-border{
  stroke: rgba(255, 206, 86, 0.2) !important;
  background: rgba(255, 206, 86, 0.2) !important;
}
.rs-tooltip {
  font-size: 25px !important;
}
.rs-path{
  stroke: transparent !important;
}
.rs-handle{
  display: none !important;
}
.daily-water img{
  height: 30vh;
}
.result-summary-content .chart-detail{
  margin-top: -30%;
}
.result-summary-content .chart-detail span{
  padding-right: 10px;
}
.result-summary-content h2{
  margin-bottom: 5%;
}
.result-summary-content #recommended-calorie{
  padding-top: 10%;
  font-size: 20px;
}
.result-summary-content #recommended-calorie span{
  color: #e38612;
  font-weight: bold;
}
.rs-tooltip-text{
  margin-left: -91.5px !important;
}
#bmi-slider .rs-tooltip-text{
  margin-left: -30px !important;
}
.rs-tooltip-text{
  margin-left: -91.5px !important;
}
.result-summary-content .chart-detail-div {
  width: 400px; 
  height: 300px;
  margin-left: -27%;
}
.result-body .content h2{
  color: #fff;
  font-size: 50px;
  text-align: center;
  padding-top: 0%;
  padding-bottom: 3%;
}

.contact_with_socail {
  padding: 0px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.contact_with_socail li {
  display: inline-block;
  padding-right: 20px;
  margin-bottom: 20px;
}
.contact_with_socail li:last-child {
  padding: 0;
}
.contact_with_socail li a {
  font-size: 24px;
  height: 37px;
  color: #af8192;
  background: #fff;
  width: 37px;
  display: block;
  text-align: center;
  border-radius: 50%;
}
.contact_with_socail li a .icon {
  padding-bottom: 0;
  margin-bottom: 0;
  height: 37px;
}
.contact_with_socail li a:hover, . .contact_with_socail li a:focus {
  background: #2b00f7;
  color: #fff;
}
.contact_with_socail li:first-child a{
  background-color: #dc4e41;
  color: #fff;
}
.contact_with_socail li:nth-child(2) a{
  background-color: #3b5998;
  color: #fff;
}
.contact_with_socail li:nth-child(3) a{
  background-color: #517fa4;
  color: #fff;
}
.contact_with_socail li:nth-child(4) a{
  background-color: #55acee;
  color: #fff;
}

.contact_with_socail li:nth-child(5) a{
  background-color: #b31217;
  color: #fff;
}
.contact-form .form-group input, .contact-form .form-group select, .contact-form .form-group textarea{
  background-color: transparent;
  color: #fff;
}

.contact-form .form-group .option{
  color: #000;
}
.contact-form .form-group textarea::placeholder{
  color: #fff;
}

.contact-form button{
  padding: 10px 5%;
  transition: .5s;
  background: #e38612;
  margin-top: 20px;
  font-weight: medium;
  color: #fff;
  margin-bottom: 5%;
}
.contact-form button:hover{
  background: rgba(37, 29, 58,.9);
  color: #fff;
}
.contact-section .col-md-3 h4{
  color: #fff;
  padding-bottom: 5%;
}
.not-found-section{
  position: relative;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  text-align: center;
  padding: 25% 10px;
}
.not-found-section .not-found-section-icon{
  font-size: 18em;
  left: 10%;
  position: absolute;
  opacity: .3;
  color: #ccc;
  z-index: 0;
}
.not-found-section .not-found-section-text{
  position: relative;
  z-index: 1;
}
.not-found-section .not-found-section-text h1{
  font-size: 6em;
  padding-top: 5%;
  opacity: .8;
}
.not-found-section .not-found-section-text h4 a{
  text-decoration: none;
  color: #e38612;
}
.not-found-section #unsubscribe{
  font-size: 3em;
}